@import './quasar.variables.styl'
@import '~quasar-styl'
// @import '~quasar-addon-styl'
@import '~@oarepo/data-renderer/css/table.css'
@import '~@oarepo/data-editor/css/table.css'
@import '~@oarepo/data-renderer/css/block.css'
@import '~@oarepo/data-editor/css/block.css'
@import '~@oarepo/data-renderer/css/inline.css'
@import '~@oarepo/data-editor/css/inline.css'
@import '~@oarepo/data-renderer/css/flex.css'
@import '~@oarepo/data-editor/css/flex.css'
